.tiler-viewport
  &#viewport-height
    width: 321px
    height: 123px

  &#tile-height
    width: 0
    height: 0
    #tile-1
      width: 234px
      height: 432px
    #tile-2
      width: 432px
      height: 234px

  .tiler-tile
    transition-duration: 0
