html, body
  height: 100%
  width: 100%
  padding: 0
  margin: 0

.tiler-viewport
  height: 200px
  width: 100%
  margin-bottom: 20px

  &#background
    height: 50%
    transition-duration: 0.5s
    transition-property: background-position
    transition-timing-function: linear
    background-size: auto
    background-image: url(mountain.jpg)
    background-position: 0% 100%
    .tiler-tile
      background-color: transparent !important

  .buttons
    position: absolute
    top: 0
    right: 0
    z-index: 1

  .tiler-tile
    transition-duration: 0.2s
    transition-property: left, top
    transition-timing-function: linear

    &#tile-1
      background: #d6d7ef
    &#tile-2
      background: #8d8fd3
    &#tile-3
      background: #4549b5
    &#tile-4
      background: #292B6B

    &.active
      span
        opacity: 1
        &#box-1
          transition-delay: 0.5s
          transform: scale(1.3, 1.3) translate(20px, 20px) rotate(45deg)
        &#box-2
          transition-delay: 1s
          transform: scale(1.6, 1.6) translate(30px, 30px) rotate(45deg)
        &#box-3
          transition-delay: 1.5s
          transform: scale(1.9, 1.9) translate(40px, 40px) rotate(45deg)

    span
      transition-duration: 0.5s
      transition-property: opacity, transform
      transition-timing-function: linear

      height: 50px
      width: 50px
      background: white
      border: 3px solid black
      display: inline-block
      opacity: 0
