.tiler-viewport {
  height: 200px;
  width: 100%; }
  .tiler-viewport .tiler-tile {
    transition-duration: 0.5s;
    transition-property: left, top;
    transition-timing-function: linear; }
    .tiler-viewport .tiler-tile span {
      transition-duration: 0.5s;
      transition-property: opacity, transform;
      transition-timing-function: linear;
      height: 50px;
      width: 50px;
      background: pink;
      display: inline-block;
      opacity: 0; }
    .tiler-viewport .tiler-tile#tile-1 {
      background: red; }
    .tiler-viewport .tiler-tile#tile-2 {
      background: yellow; }
    .tiler-viewport .tiler-tile#tile-3 {
      background: blue; }
    .tiler-viewport .tiler-tile#tile-4 {
      background: black; }
    .tiler-viewport .tiler-tile.active span {
      opacity: 1; }
      .tiler-viewport .tiler-tile.active span#box-1 {
        transition-delay: 1s;
        transform: scale(1.3, 1.3) translate(10px, 10px) rotate(45deg); }
      .tiler-viewport .tiler-tile.active span#box-2 {
        transition-delay: 2s;
        transform: scale(1.6, 1.6) translate(20px, 20px) rotate(45deg); }
      .tiler-viewport .tiler-tile.active span#box-3 {
        transition-delay: 3s;
        transform: scale(1.9, 1.9) translate(30px, 30px) rotate(45deg); }
    .tiler-viewport .tiler-tile.slide-left.enter.start {
      left: 100%; }
    .tiler-viewport .tiler-tile.slide-left.enter.end {
      left: 0; }
    .tiler-viewport .tiler-tile.slide-left.exit.start {
      left: 0; }
    .tiler-viewport .tiler-tile.slide-left.exit.end {
      left: -100%; }
    .tiler-viewport .tiler-tile.slide-right.enter.start {
      left: -100%; }
    .tiler-viewport .tiler-tile.slide-right.enter.end {
      left: 0; }
    .tiler-viewport .tiler-tile.slide-right.exit.start {
      left: 0; }
    .tiler-viewport .tiler-tile.slide-right.exit.end {
      left: 100%; }
    .tiler-viewport .tiler-tile.slide-up.enter.start {
      top: 100%; }
    .tiler-viewport .tiler-tile.slide-up.enter.end {
      top: 0; }
    .tiler-viewport .tiler-tile.slide-up.exit.start {
      top: 0; }
    .tiler-viewport .tiler-tile.slide-up.exit.end {
      top: -100%; }
    .tiler-viewport .tiler-tile.slide-down.enter.start {
      top: -100%; }
    .tiler-viewport .tiler-tile.slide-down.enter.end {
      top: 0; }
    .tiler-viewport .tiler-tile.slide-down.exit.start {
      top: 0; }
    .tiler-viewport .tiler-tile.slide-down.exit.end {
      top: 100%; }
