html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

.tiler-viewport {
  float: left;
  height: 50%;
  width: 50%; }
  .tiler-viewport#background {
    transition-property: background-position;
    transition-timing-function: linear;
    transition-duration: 0.5s;
    background-image: url(mountain.jpg);
    background-position: 0% 100%;
    background-size: auto; }
    .tiler-viewport#background .tiler-tile {
      background: transparent !important; }
  .tiler-viewport .buttons {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0; }
  .tiler-viewport .tiler-tile {
    background-position: center;
    transition-duration: 0.25s !important; }
    .tiler-viewport .tiler-tile#tile-1 {
      background-image: url(mountain.jpg); }
    .tiler-viewport .tiler-tile#tile-2 {
      background: #8d8fd3; }
    .tiler-viewport .tiler-tile#tile-3 {
      background-image: url(mountain.jpg);
      transform: rotate(180deg); }
    .tiler-viewport .tiler-tile#tile-4 {
      background: #292B6B; }
    .tiler-viewport .tiler-tile.active span {
      opacity: 1; }
      .tiler-viewport .tiler-tile.active span#box-1 {
        transform: scale(1.3, 1.3) translate(20px, 20px) rotate(45deg);
        transition-delay: 0.5s; }
      .tiler-viewport .tiler-tile.active span#box-2 {
        transform: scale(1.6, 1.6) translate(30px, 30px) rotate(45deg);
        transition-delay: 1s; }
      .tiler-viewport .tiler-tile.active span#box-3 {
        transform: scale(1.9, 1.9) translate(40px, 40px) rotate(45deg);
        transition-delay: 1.5s; }
    .tiler-viewport .tiler-tile span {
      transition-property: opacity, transform;
      transition-timing-function: linear;
      transition-duration: 0.5s;
      border: 3px solid black;
      display: inline-block;
      background: white;
      height: 50px;
      width: 50px;
      opacity: 0; }
