html, body
  height: 100%
  width: 100%
  padding: 0
  margin: 0

.tiler-viewport
  height: 50vh
  width: 50vw
  float: left

  &#background
    transition-property: background-position
    transition-timing-function: linear
    transition-duration: 0.5s
    background-image: url(mountain.jpg)
    background-position: 0% 100%
    background-size: auto
    .tiler-tile
      background: transparent !important

  .buttons
    position: absolute
    z-index: 3
    right: 0
    top: 0

  .tiler-tile
    background-position: center
    &#tile-1
      background-image: url(mountain.jpg)
    &#tile-2
      background: #8d8fd3
    &#tile-3
      background-image: url(mountain.jpg)
      transform: rotate(180deg)
    &#tile-4
      background: #292B6B
    &.active
      span
        opacity: 1
        &#box-1
          transform: scale(1.3, 1.3) translate(20px, 20px) rotate(45deg)
          transition-delay: 0.5s
        &#box-2
          transform: scale(1.6, 1.6) translate(30px, 30px) rotate(45deg)
          transition-delay: 1s
        &#box-3
          transform: scale(1.9, 1.9) translate(40px, 40px) rotate(45deg)
          transition-delay: 1.5s
    span
      transition-property: opacity, transform
      transition-timing-function: linear
      transition-duration: 0.5s
      border: 3px solid black
      display: inline-block
      background: white
      height: 50px
      width: 50px
      opacity: 0
