=gpu
  -webkit-transform: translate3d(0,0,0)
  transform: translate3d(0,0,0)
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  -webkit-perspective: 1000
  perspective: 1000

.tiler-viewport
  position: relative
  background: white
  overflow: hidden

  .tiler-tile
    +gpu
    transition-duration: 0.25s
    position: absolute
    overflow: hidden
    display: block
    width: 100%
    z-index: -1

    &.enter
      z-index: 2
    &.exit
      z-index: 1
